<template>
    <div>
        <Table :tableData="tableData" :columns="columns"/>
        <el-form ref="form" :model="form" label-width="20%" style="margin-bottom: 30px" >
            <el-form-item label="Company expense">
                <el-select v-model="form.company_id" @input="changeCompanyHandler" prop="company" placeholder="select your company">
                    <el-option
                        v-for="company in companies"
                        :key="company.id"
                        :label="company.name"
                        :value="company.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Company employ or project" v-if="form.company_id">
                <el-radio-group v-model="expenseOwner" @input="changeExpenseOwnerHandler">
                    <div>
                        <el-radio label="employ">Employ</el-radio>
                        <el-select :disabled="expenseOwner !== 'employ'" style="display: block; margin-bottom: 25px;" v-model="form.user_id" placeholder="select company employ">
                            <el-option
                                v-for="user in users"
                                :key="user.id"
                                :label="user.name"
                                :value="user.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div>
                        <el-radio style="display: block; margin-bottom: 25px;" label="project">Project</el-radio>
                        <el-select :disabled="expenseOwner !== 'project'" v-model="form.project_id" placeholder="select company project">
                            <el-option
                                v-for="project in projects"
                                :key="project.id"
                                :label="project.name"
                                :value="project.id">
                            </el-option>
                        </el-select>
                    </div>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="Expense type">
                <el-select v-model="form.expense_type_id" placeholder="select expense type">
                    <el-option
                        v-for="type in expenseTypes"
                        :key="type.id"
                        :label="type.name"
                        :value="type.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Expense category">
                <el-select v-model="form.expense_category_id" placeholder="select expense category">
                    <el-option
                        v-for="category in expenseCategories"
                        :key="category.id"
                        :label="category.name"
                        :value="category.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Expense date">
                <el-col :span="11">
                    <el-date-picker prop="date" type="date" placeholder="Pick a date" v-model="form.date"
                                    style="width: 100%;">
                    </el-date-picker>
                </el-col>
            </el-form-item>
            <el-form-item label="Price" prop="name">
                <el-input v-model="form.price"></el-input>
            </el-form-item>
            <el-form-item label="Comment">
                <el-input type="textarea" v-model="form.comment"></el-input>
            </el-form-item>
            <el-form-item label="Note">
                <el-input v-model="form.note"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">Create</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
    import Table from '../components/Table';
    import {HTTP} from '../http-common';

    export default {
        components: {
            Table
        },
        data() {
            return {
                columns: [
                    {
                        prop: 'company.name',
                        label: 'Company',
                    },
                    {
                        prop: 'user.name',
                        label: 'User',
                    },
                    {
                        prop: 'project.name',
                        label: 'Project',
                    },
                    {
                        prop: 'data',
                        label: 'Data',
                    },
                    {
                        prop: 'price',
                        label: 'Price',
                    },

                    {
                        prop: 'comment',
                        label: 'Comment',
                        type: 'popover',
                    },
                    {
                        prop: 'note',
                        label: 'Note',
                        type: 'popover',
                    },
                    {
                        prop: 'expenseCategory.name',
                        label: 'Expense category',
                    },
                    {
                        prop: 'expenseType.name',
                        label: 'Expense type',
                    },
                    {
                        prop: 'expenseType.name',
                        label: 'Operations',
                        class: 'text-right',
                        type: 'action'
                    },
                ],
                tableData: [],
                expenseOwner: null,
                companies: [],
                users: [],
                projects: [],
                expenseTypes: [],
                expenseCategories: [],
                form: {
                    compensation_id: this.$route.params.id,
                    company_id: null,
                    project_id: null,
                    user_id: null,
                    expense_type_id: null,
                    expense_category_id: null,

                    date: '',
                    price: '',
                    note: '',
                    comment: '',

                }
            }
        },
        created() {
            HTTP.get(`expense/${this.$route.params.id}`)
                .then(response => {
                    this.tableData = [response.data.data];
                })
                .catch((e) =>{
                    console.log( 'err', e);
                });

            HTTP.get('companies')
                .then(response => {
                    this.companies = response.data.data;
                })
                .catch(e =>{
                    console.log( 'err', e);
                });

            HTTP.get('expense-types')
                .then(response => {
                    this.expenseTypes = response.data.data;
                })
                .catch(e =>{
                    console.log( 'err', e);
                });

            HTTP.get('expense-categories')
                .then(response => {
                    this.expenseCategories = response.data.data;
                })
                .catch(e =>{
                    console.log( 'err', e);
                });

        },
        methods: {
            changeExpenseOwnerHandler(){
                this.form.project_id = null;
                this.form.user_id = null;
            },
            changeCompanyHandler(companyId){
                let company =  this.companies.find((company) => {
                    return company.id === companyId;
                });
                let {users, projects} = company;

                this.users = users;
                this.projects = projects;

                this.changeExpenseOwnerHandler();
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        HTTP.put('expense',this.form)
                            .then(response => {
                                console.log('333', response.data.data);
                                this.expenseCategories = response.data.data;
                                // this.$router.push()
                            })
                            .catch(e =>{
                                console.log( 'err', e);
                            });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            onSubmit() {
                HTTP.post('expense',this.form)
                    .then(response => {
                        this.expenseCategories = response.data.data;
                        this.$router.push({ path: '/' });
                    })
                    .catch(e =>{
                        console.log( 'err', e);
                    });
            }
        }
    }
</script>
