<template>
    <Table :tableData="tableData"/>
</template>
<script>
    import Table from '../components/Table';
    import {HTTP} from '../http-common';

    export default {
        components: {
            Table
        },
        data() {
            return {
                tableData: []
            }
        },
        created() {
            HTTP.get('compensations')
                .then(response => {
                    this.tableData = response.data.data;
                })
                .catch((e) =>{
                    console.log( 'err', e);
                });
        }
    }
</script>
