<template>
    <Table :tableData="tableData" :columns="columns"  />
</template>
<script>
    import axios from 'axios';
    import Table from '../components/Table';
    import {HTTP} from '../http-common';

    export default{
        components:{
            Table
        },
        data() {
            return {
                tableData: [],
                columns: [
                    {
                        prop: 'company.name',
                        label: 'Company',
                    },
                    {
                        prop: 'user.name',
                        label: 'User',
                    },
                    {
                        prop: 'project.name',
                        label: 'Project',
                    },
                    {
                        prop: 'data',
                        label: 'Data',
                    },
                    {
                        prop: 'price',
                        label: 'Price',
                    },

                    {
                        prop: 'comment',
                        label: 'Comment',
                        type: 'popover',
                    },
                    {
                        prop: 'note',
                        label: 'Note',
                        type: 'popover',
                    },
                    {
                        prop: 'expenseCategory.name',
                        label: 'Expense category',
                    },
                    {
                        prop: 'expenseType.name',
                        label: 'Expense type',
                    },
                    {
                        prop: 'expenseType.name',
                        label: 'Operations',
                        class: 'text-right',
                        type: 'action'
                    },
                ],
            }
        },
        created() {
            HTTP.get('expense')
                .then(response => {
                    this.tableData = response.data.data;
                })
                .catch(e =>{
                    console.log( 'err', e);
                });
        }
    }
</script>
