<template>
    <div id="app">
        <el-container style="height: 100vh; border: 1px solid #eee">
            <Sidebar/>
            <el-container>
                <el-header style="text-align: left; font-size: 12px">
                    <span></span>
                </el-header>
                <el-main>
                    <router-view></router-view>
                </el-main>
            </el-container>
        </el-container>
    </div>
</template>
<script>
    import Sidebar from "../layouts/Sidebar";
    import Expense from "../pages/Expense";
    import Compensation from "../pages/Compensation";
    export default {
        components:{
            Sidebar,
            Expense,
            Compensation,
        },
    };
</script>
<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>
