<template>
    <el-table :data="tableData">
        <template
            v-for="(column, index) in columns"
        >
            <template v-if="(column.type === 'popover')">
                <el-table-column
                    :key="column.index"
                    :label="column.label">
                        <template  slot-scope="scope">
                            <el-popover trigger="hover" placement="top">
                                <p>{{ scope.row.comment }}</p>
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium">{{ '!' }}</el-tag>
                                    </div>
                            </el-popover>
                        </template>
                </el-table-column>
            </template>
            <template v-else-if="(column.type === 'action')">
                <el-table-column
                    :key="column.index"
                    :prop="column.prop"
                    :label="column.label"
                    :class-name="column.class">

                        <template slot-scope="scope">
                            <el-button
                                size="mini"
                                type="danger"
                                @click="handleAddCompensation(scope.$index, scope.row)">Add Compensation</el-button>
                        </template>
                </el-table-column>
            </template>

            <template v-else>
                <el-table-column
                    :key="column.index"
                    :prop="column.prop"
                    :label="column.label"
                    :class-name="column.class">
                </el-table-column>
            </template>
        </template>
    </el-table>
</template>
<script>
    export default{
        props:{
            tableData: {
                type: Array,
                default: []
            },
            columns: {
                type: Array,
                default: []
            }
        },
        methods: {
            handleAddCompensation(index, row) {
                this.$router.push({path: `add-compensation/${row.id}`});
                console.log(index, row);
            },
        },
        data() {
            return {}
        },
    }
</script>
