<template>
    <el-aside :router="true" :default-active="activeLink" width="200px" style="background-color: rgb(238, 241, 246)">
        <el-menu :default-openeds="['1', '3']">
            <template v-for="route in this.$router.options.routes">
                <el-menu-item @click="handleClick(route.path)" :index='route.path'>
                    {{ route.title }}
                </el-menu-item>
            </template>
            </el-menu>
    </el-aside>
</template>
<script>
    export default {
        data() {
            return {
                activeLink: null,
            };
        },
        methods:{
            handleClick(path){
                this.$router.push(path);
            }
        },
        mounted () {

            this.activeLink = this.$route.path
        },
        watch: {
            $route (newVal, oldVal) {
                this.activeLink = newVal.path
            }
        }
    };
</script>
<style scoped>
    .el-aside {
        color: #333;
        width: 200px;
        background-color: rgb(238, 241, 246);
    }
</style>
